<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vue Todo</title>
        <script src="//unpkg.com/vue"></script>
        <link rel="stylesheet" href="//unpkg.com/bulma/css/bulma.css">
    </head>    
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title is-1 has-text-grey">Vue Todo</h1>
                <p class="subtitle has-text-light-grey">Let's get organized!</p>
                <hr/>
                <div id="app">
                    <div class="columns">
                        <div class="column">
                            <h3 class="title is-3"><em>Todo Items</em></h2>
                        </div>
                        <div class="column">
                            <h3 class="title is-3"><em>Add An Item</em></h2>
                            <div class="field">
                                <label class="label">Title</label>
                                <div class="control">
                                    <input class="input" type="text" v-model="title">
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Description</label>
                                <div class="control">
                                    <textarea class="textarea" v-model="description"></textarea>
                                </div>
                            </div>
                            <button class="button is-primary" v-on:click="add">Add Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <script>
            new Vue({
                el: '#app',
                data: {
                    title: null,
                    description: null,
                    items: []
                },
                methods: {
                    add: function() {
                        // Create and add the new item
                        var item = {
                            title: this.title,
                            description: this.description
                        };
                        this.items.push(item);

                        // Reset the entry state
                        this.title = null;
                        this.description = null;
                    }
                }
            });
        </script>
    </body>
</html>